$theme-colors: (
  "white": #fff,
  "customed-black": #242424
);

$link-color: black;
$link-decoration: none;
$link-hover-decoration: none;

$font-family-sans-serif: sans-serif;
$font-size-base: 0.75rem;
$border-radius: 0rem;

$card-border-width: 0rem;

$btn-border-radius-lg: 0rem;
$btn-border-radius-sm: 0rem;
$btn-font-size-sm: 0.75rem;
$btn-font-size-lg: 0.75rem;

@import '~bootstrap/scss/bootstrap.scss';